pipeline/Untill_File_exist.json
{
	"name": "Untill_File_exist",
	"properties": {
		"activities": [
			{
				"name": "Until_File_Exist",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('FileExist')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata_country",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Weight_File",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition_File_Exist",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata_country",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata_country').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "False_Wait_forfile",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 20
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable FileExist True",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileExist",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"FileExist": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-12-01T10:04:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}